@import('config.css');

/*global elements*/

	body{
		background-color: white;
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
	}

/*nav styling*/

	nav img{
		width: 240px;

	}
	nav ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		float:right;

	}
	nav ul li{
		list-style: none;
		text-decoration: none;
		padding: 20px;
    	height: 30px;
    	display: block;
	}

	nav li a {
    	
    	width: 60px;
	}

	/*footer styling*/
	footer{
		border: white 1px solid;
		background: gray;
		height: 100px;
		text-align: center;
		color: black;
		font-size: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

/*home-page specific*/

#homepage-body-container{
	margin: 20px;
}

h1.heading{
	color: black;
	font-size: 30px;
	text-align: center;
	line-height: 28px;
	padding-bottom: 20px;
}

#info-boxes{
	border: gray 1px solid;
	height: 700px;
	text-align: center;
}

.first-box{
	font-weight: bold;
	font: #BB4174;
	border: white 1px solid;
	background: #89B0AE;
	height: 200px;
	text-align: center;
}

.second-box{
	font-weight: bold;
	font: #BB4174;
	border: white 1px solid;
	background: #89B0AE;
	height: 200px;
	text-align: center;
}

.third-box{
	font-weight: bold;
	font: #BB4174;
	border: white 1px solid;
	background: #89B0AE;
	height: 200px;
	text-align: center;
}	
}


